
.remove-margin {
  margin: 0px;
}

.remove-padding {
  padding: 0px;
}

._hide {
  display: none;
  opacity: 0;
}

/* summer note */
div.note-frame {
  width: 100%;
  height: 100%;
  border: navajowhite !important;
  resize: none;
}

div.note-toolbar {
  border-radius: 3px;
  background: #eee;
}

div.note-editable {
  height: 152px;
  border: 1px solid #ddd;
  margin-top: 5px;
  margin-bottom: 0px;
}

div.note-fontname,
div.note-view,
div.note-style,
div.note-noteview,
div.note-table,
div.note-insert,
div.note-resizebar {
  display: none !important;
}

div.note-modal-content {
  width: 300px;
  height: auto;
  padding: 0px;
  margin: 0px;
  border: none;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: 3px;
}

div.note-modal-editable {
  height: 168px;
}

div.note-modal-header {
  font-size: 10px;
  padding: 5px 3px;
  background: #222;
  border-radius: 3px 3px 0 0;
  border: none;
}

div.note-modal-header button.close {
  margin-top: -2px;
  color: #fff;
  font-size: 15px;
}

h4.note-modal-title {
  margin: 0;
  font-size: 13px;
  letter-spacing: 1.4px;
  color: #fff;
  text-align: center;
}

div.note-modal-body {
  padding: 4px;
}

div.note-modal-body div.form-group{
  margin: 0px;
  padding: 0px;
}

div.form-group input {
  border: 0.5px solid #ccc;
  border-radius: 3px;
  background: #eee;
  outline: none;
}

/* summernote */


div.email-wrapper {
  border: 1px solid #aaa;
  padding: 5px;
}

div.email-wrapper ul.email-body {
  list-style: none;
  font-size: 13px;
  width: 100%;
  padding: 0px;
  margin: 0px;
  padding-right: 5px;
}

.scrollable {
  height: 400px;
  overflow-x: hidden;
  overflow-y: auto;
}

.scrollable::-webkit-scrollbar{
  width: 10px;
}

.scrollable::-webkit-scrollbar-track {
  background: #eee; 
}

.scrollable::-webkit-scrollbar-thumb {
  background: #aaa; 
  cursor: pointer;
}

.scrollable::-webkit-scrollbar-thumb:hover {
  background: #bbb; 
}

ul.email-body .not-read {
  font-weight: 600;
}

ul.email-body li.email-list {
  border-bottom: 1px solid #ccc;
  transition: all 0.4s;
  position: relative;
  padding: 2px 25px;
  padding-right: 71px;
  height: 64px;
  overflow: hidden;
  line-height: 19px;
  letter-spacing: 0.2px;
}

ul.email-body li.email-list:last-child {
  border-bottom: none;
}

ul.email-body li.email-list:hover {
  cursor: pointer;
  background: #eee;
}

ul.email-body li.email-list:hover div.time-wrapper {
  cursor: pointer;
  /* background: #eee; */
}

li.email-list span.checkbox {
  display: inline-block;
  position: relative;
  top: 2px;
  margin-right: 5px;
}

li.email-list .body {
  color: #777;
}

li.email-list div.checkbox-wrapper {
  position: absolute;
  left: 3px;
  top: 50%;
  transform: translateY(-50%);
}

li.email-list div.time-wrapper {
  position: absolute;
  top: 0px;
  right: 0px;
  height: 100%;
  padding: 5px;
  display: flex;
  /* background: #fff; */
}

li.email-list span.sender {
  font-size: 15px;
}

li.email-list span.subject {
  font-size: 14px;
}

div.checkbox-wrapper input[type=checkbox]{
  display: none;
}

input[type=checkbox] + label{
  display: block;
  cursor: pointer;
}

input[type=checkbox] + label:before{
  content: "\2713";
  border: 0.1em solid #000;
  width: 23px;
  height: 24px;
  display: inline-block;
  border-radius: 3px;
  font-size: 20px;
  color: transparent;
  transition: 0.2s;
}

input[type=checkbox]:checked + label:before{
  background-color: mediumseagreen;
  color: #fff;
  border-color: mediumseagreen;
}

input[type=checkbox] + label:active:before{
  transform: scale(2);
}

div.time-wrapper span.time {
  display: inline-block;
  margin: auto 2px;
  width: 70px;
}


/* style for email details goes here */

div.email-detail {
  padding-right: 20px;
  padding-left: 5px;
}

div.email-detail span.main-e-subject{
  display: inline-block;
  font-size: 18px;
  color: #777;
  font-weight: 600;
  position: relative;
  top: 4px;
  letter-spacing: 1.2px;
}

div.email-detail span.new-tab {
  display: inline-block;
  float: right;
  position: relative;
  top: 5px;
  right: 9px;
  border: 1px solid #ccc;
  padding: 1px 3px 0px 6px;
  border-radius: 3px;
  background-color: #eee;
}

div.email-detail .generic {
  font-size: 13px;
  color: #777;
  font-weight: 600;
  letter-spacing: 1px;
  position: relative;
}

div.email-detail div.function-bar {
  margin-top: 15px;
  padding-top: 15px;
  box-shadow: 0 1px 4px 0 #ccc;
}

div.email-detail span.user-icon {
  display: inline-block;
  font-size: 22px;
  color: #777;
  padding: 0px 10px 2px 10px;
  border: 1px solid #ccc;
  border-radius: 3px;
  position: relative;
  top: -7px;
  left: 12px;
  background-color: #eee;
}


div.email-detail div.sender-name {
  top: -8px;
}

div.email-detail div.sender-email {
  position: relative;
  top: -7px;
  left: -4px;
}

div.email-detail div.email-date {
  text-align: right;
  font-size: 14px;
  font-weight: 600;
  color: #777;
  letter-spacing: 0.7px;
}

div.email-detail span.reply {
  display: inline-block;
  border: 1px solid #ccc;
  padding: 1px 4px 1px 5px;
  border-radius: 3px;
  background: #eee;
  position: relative;
  top: -3px;
  right: 6px;
}

div.email-detail div.details {
  display: flex;
  height: 100%;
}

div.email-detail div.contents-wrapper {
  height: auto;
  width: auto;
  font-size: 25px;
  font-weight: 600;
  color: #aaa;
  margin: auto;
}

/* compose message style */

div.modal-wrapper {
  min-width: 300px;
  height: 400px;
  position: fixed;
  bottom: 20px;
  box-shadow: 0 0 12px #bbb;
  transition: all 0.4s;
  overflow: hidden;
  opacity: 1;
}

div.modal-wrapper.min-modal {
  height: 38px;
}

div.modal-wrapper.max-modal {
  height: 400px;
}

div.modal-wrapper.modal-compress {
  width: 28.1%;
  right: 20px;
}

div.modal-wrapper.modal-expand {
  width: 50%;
  left: 50%;
  transform: translateX(-50%);
}

div._modal div.top {
  display: flex;
  padding: 8px 10px;
  color: #fff !important;
  background: #555;
  font-size: 14px;
  font-family: sans-serif;
  font-weight: 600;
  letter-spacing: 0.5px;
}

div.top div.t-left {
  flex: 1;
}

div.top div.t-right {
  width: 74px;
  font-weight: 500;
  font-size: 15px;
  cursor: pointer;
}

div.t-right span.icons {
  display: inline-block;
  padding: 0 4px;
}

div._modal div.body {
  padding: 5px; 
}

div.body div.input-wrapper {
  padding: 5px 0;
  width: 100%;
  display: flex;
  position: relative;
}

div.input-wrapper button.to-btn {
  position: absolute;
  top: 9px;
  left: 4px;
  border: navajowhite;
  background: #ddd;
  font-size: 12px;
  padding: 4px 14px;
  border-radius: 3px;
  font-weight: 600;
  letter-spacing: 1px;
  color: #666;
  /* cursor: pointer; */
}

div.input-wrapper .input {
  font-size: 12px;
  padding: 7px;
  padding-left: 14px;
  letter-spacing: 0.8px;
  color: #777;
  border: 1px solid #ccc;
  border-radius: 3px;
  flex: 1;
  resize: none;
  background: #eee;
  outline: none;
}

div.input-wrapper .to-input {
  padding-left: 53px;
}

div.input-wrapper .input:focus {
  background: #fff;
}

div._modal div.bottom{
  padding: 0 5px;
  display: flex;
}

div.b-left button.btn-send {
  border: navajowhite;
  color: #ffff;
  padding: 3px 10px;
  background: #000;
  border-radius: 3px;
  cursor: pointer;
}

div.b-left button.btn-send:hover {
  opacity: 0.8;
}


/* @media only screen and (max-width: 800px){ */
/*   ul.email-body li.email-list{ */
/*     line-height: 12px; */
/*     height: 30px; */
/*   } */
/* } */
